body{
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    background-color: aqua;
}
.abd{
    height: 100px;
    width: 1000px;
}

.context{
    position: absolute;
    top: 40%;
    left: 50%;
}
.like{
    position: absolute;
    top: 47%;
    left: 52%;
}
.value{
    text-align: center;
    color: white;
}
.tog{
    align-items: center;
    text-align: center;
    justify-content: center;
}